@charset "utf-8";

/* Reset */
a, abbr, acronym, address, area, b, bdo, big, blockquote, body, button, caption, cite,
code, col, colgroup, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4,
h5, h6, hr, html, i, images, ins, kbd, label, legend, li, map, object, ol, p, param, pre,
q, samp, small, span, strong, sub, sup, table, tbody, td, textarea, tfoot, th, thead,
tr, tt, ul, var {margin:0;padding:0;vertical-align:baseline}

/* Defaults */
:focus {outline:0}
a, a:visited {color:#0f81c5;text-decoration:none}
a:hover {}
body {background:#e4edf2 url(../images/bg.jpg) top center repeat-x;color:#8ba5b4;font:100%/165% 'Crete Round', Arial, Sans-Serif;text-shadow:#FFF 1px 1px 1px}
html {background:#FFF url(../images/bg-home-repeat.jpg) repeat-x}
h1, h2 {color:#0a4f78;font-size:2.3em;font-weight:normal;line-height:1.2em;margin:0 0 10px}
h3 {color:#0a4f78;font-size:1.4em;margin:0 0 10px}
img {border:0;vertical-align:bottom}
fieldset {border:0}
p {
	margin:0 0 1em;
}

/* Containers */
#page {margin:0 auto;width:960px}
#bg {background:url(../images/bg-about.jpg) no-repeat center bottom}

/* Header */
#header {height:105px;padding-top:15px;overflow:hidden;width:100%}
#header img {float:left;margin:0 0 0 10px}
#header ul {float:right;font-size:1.15em;list-style:none;margin:60px 0 0;text-transform:uppercase}
#header ul li {float:left}
#header ul li a {color:#98bdd4;float:left;margin:0 10px 0 35px;padding:0 0 20px}
#header ul li a:hover, #header ul li.current a {background:url(../images/menu.gif) no-repeat center bottom;color:#0c6091}
	
/* Content */
#main {clear:both;padding:80px 0;width:100%}
#main ul {margin:0 0 1em 33px}
	
	/* Homepage */
	#page-home {background:url(../images/bg-home.jpg) no-repeat center top}
	#page-home #main {padding:0}
	
		/* Intro */
		#intro {background:url(arrow.png) no-repeat 0 60px;height:307px;margin:95px 0 0;padding:0 65px 0 70px}
		#intro h1 {color:#356682}
		#intro p {color:#8ba5b4;font-size:1.375em;line-height:1.25em;margin:20px 0 15px 40px}
		#intro a {background:url(../images/divider.gif) repeat-x bottom;float:right;font-size:1em;padding:0 5px 2px;text-transform:uppercase}

		/* Splash */
		#splash {float:right;width:400px;height:291px;margin-right:-50px;padding-top:90px;overflow:hidden;}
		#splash .content img {float:none}
		#splash h2 {margin:0 0 15px}

		/* Jobs */
		#jobs {background:url(../images/job-bg.png) no-repeat right top;overflow:hidden;padding:75px 0 90px}
		h2#sign {background:url(../images/hiring-bg.png) no-repeat;color:#FFF;font-size:2.3em;height:150px;font-weight:normal;width:177px}
		h2#sign span {display:none}
		#jobs #sign {margin:0 0 25px 100px}
		
			/* Job List */
			#main #job-list {border-top:2px dotted #c1d6e3;float:left;list-style:none;margin:0 0 0 5px;width:360px}
			#job-list li a {border-bottom:2px dotted #c1d6e3;color:#8ba5b4;display:block;line-height:1.2em;padding:22px 15px 20px;position:relative;text-align:right}
			#job-list li a strong {color:#0a4f78;display:block;font-size:1.15em}
			#job-list li a img {position:absolute;top:16px;left:-999em}
			#job-list li a.current {background:#ebf3f7}
			#job-list li a.current img {left:18px}
			
			/* Job Content */
			#job-content {float:right;height:245px;overflow:hidden;width:545px}
			#job-content .content {height:245px}
			#job-content .content p {font-size:1.2em}
			#job-content h2 {color:#0a4f78;margin:0 0 20px}

			#snappy {
				background:url(../images/snappy.jpg) no-repeat right bottom;
				height: 370px;
				margin-bottom: 30px;
				position: relative;
			}

			#snappy #snappylogo{
				background: url(../images/snappy-logo.png) no-repeat center center;
				width: 200px;
				height: 71px;
				position: absolute;
				top: 70px;
				left: 0;
			}

			#snappy p{
				position: absolute;
				top: 175px;
				left: 0;
				width: 380px;
			}

			#snappy a{
				position: absolute;			
				bottom: 30px;
				left: 0;
			}

	/* About */
	#staff .member {clear:both;overflow:hidden;padding:0 25px 100px}
	#staff .content {float:right;margin:50px 0 0;position:relative;width:550px}
	#staff .alt .content {float:left}
	#staff .alt img {float:right}
	#staff img {float:left}
	#staff h2 {border-bottom:2px dotted #c1d6e3;color:#0a4f78;font-size:2.5em;font-weight:normal;padding:0 0 5px}
	#staff p {font-size:1.15em}
	#staff .twitter {font-size:1.25em;position:absolute;top:18px;right:0}
	#staff .blog {font-size:1.25em;position:absolute;top:18px;right:150px}
	#staff .member .circa { position:absolute;right:0;top:63px; }
	
	/* Split Columns */
	.divider {border-top:2px dotted #ccdde8;clear:both;padding:20px 10px 0;overflow:hidden;width:940px}
	.split .column {float:left;width:420px}
	.split .alt {float:right}
	.pad-bottom {padding-bottom:50px}
	.divider-dark {border-color:#0a4f78}
	
	/* Call to Action Buttons */
	.cta, .cta:visited {color:#FFF;font-size:1.2em;font-weight:700;height:41px;overflow:hidden;position:relative;text-align:center;text-shadow:none;text-indent:-999em;width:98px}
	.cta-big, .cta-big:visited {width:220px}
	.cta-med, .cta-med:visited {width:133px}
	.cta span {cursor:pointer;height:100%;left:0;position:absolute;top:0;width:100%}
	.cta:hover span {background-position:bottom}
	.cta span {background:url(../images/cta.png) no-repeat;}
	.cta-med span {background:url(../images/cta-med.png) no-repeat;}
	.cta-big span {background:url(../images/cta-big.png) no-repeat;}
	.cta-top {height:37px;position:relative;width:150px}
	.cta-top span {background:url(../images/back.png) no-repeat;height:100%;left:0;position:absolute;top:0;width:100%}
	.cta-dark span {background:url(../images/cta-dark.png) no-repeat;}

	/* Photos */
	.photos {margin-bottom:-20px}
	.photos h2 {line-height:1.2em;margin-bottom:20px}
	.photos a {float:left;margin:0 0 0 65px;position:relative}
	.photos a.first {margin:0}
	.photos a:hover span {left:0}
	.photos img {background:#FFF;padding:5px;-webkit-box-shadow:0px 0px 3px 1px #d2dadf;-moz-box-shadow:0px 0px 3px 1px #d2dadf;box-shadow: 0px 0px 3px 1px #d2dadf;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
	.photos span {background:url(../images/zoom.png) no-repeat center;height:100%;left:-999em;position:absolute;top:0;width:100%;-webkit-transition: background 200ms ease-out;-moz-transition: background 200ms ease-out;-o-transition: background 200ms ease-out;transition: background 200ms ease-out}
	.photos em {background:url(../images/coming-fall.png) no-repeat;height:77px;position:absolute;top:-60px;right:85px;width:176px}
	
	/* Alignments */
	.align-left {float:left}
	.align-right {float:right}
	
	/* Jobs */
	.job {border-top:2px dotted #ccdde8;clear:both;padding:70px 10px 35px;overflow:hidden;width:940px}
	.job .side {float:left;width:200px}
	.job .content {float:right;width:630px}
	.job .side h2 {margin:0}

	/* Intro */
	.intro {overflow:hidden;padding:0 0 50px;width:100%}
	.intro .content {float:right;width:700px}
	.intro .side {float:left;text-align:center;width:180px}
	.intro .side h2 {font-size:1.5em}
	#main .intro .side ul {list-style:none;margin:0;text-align:center}

	/* Contact */
	#page-contact .intro {height:350px;overflow:visible}
	#page-contact .intro img {float:right;margin:-15px -115px 0 0}
	#page-contact .split {padding-top:75px}
	#page-contact .split .column {width:545px}
	#page-contact .split .first {width:300px}
	#page-contact .split p {margin:0 0 2em}
	#page-contact .split h2 {font-size:1.5em}
	#page-contact .split strong {color:#0a4f78}
	
	/* Forms */
	#page-contact .column form p {margin:0 0 10px}
	#page-contact form label {display:block;color:#0a4f78}
	#page-contact form input[type="text"] {background:#FFF;border:2px solid #dfe6e9;padding:8px;width:240px}
	#page-contact form textarea {background:#FFF;border:2px solid #dfe6e9;height:140px;padding:5px;width:520px}
	#page-contact form input[type="text"], #page-contact form textarea {-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
	#page-contact .submit {height:42px;overflow:hidden;position:relative;top:10px}
	#page-contact .submit input:hover {position:relative;top:-43px}

/* Laravel */
.laravel{
	border-top: 1px solid #dfdfdf;
	height: 350px;
}

.laravel div.inner{
	height: 400px;
	width: 960px;
	margin: 0 auto;
	background:url(../images/laravel.png) no-repeat left top;
	overflow:hidden;
	padding:75px 0 0 90px;
}

.laravel div.text{
	float: right;
	width: 545px;
}

.laravel .cta{
	display: block;	
}
	
/* Footer */
#footer{
	border-top:1px solid #d3e5f0;
	height:80px;
	padding-top:15px;
	overflow:hidden;
	width:100%;
	background-repeat: no-repeat;
}
/*#footer {background:#0a4f78;border-top:40px solid #084466;clear:both;height:350px}*/
#footer .content {margin:0 auto;width:940px}
	
	/* Customers */
	#customers {background:#ebf3f7;border-top:1px solid #dfe7eb;border-bottom:2px solid #06334d;margin:-50px 0 60px;overflow:hidden;padding:35px;width:870px}
	#customers h3 {float:left;font-size:1.5em;height:70px;letter-spacing:2px;margin:0;overflow:hidden;position:relative;text-align:center;text-transform:uppercase;width:222px}
	#customers h3 span {background:url(../images/few-customers.png) left top no-repeat;height:100%;left:0;position:absolute;top:0;width:100%}
	#customers h3 em {color:#4683a7;display:block;font:italic .7em Georgia, Garamond, Serif;text-transform:none}
	#customers img {float:right;margin:15px 10px 0 0}
	
	/* Twitter */
	#twitter {background:url(../images/twitter.png) no-repeat;color:#bdcbd4;font:.8em HelveticaNeue, Helvetica, Arial, Sans-Serif;float:left;min-height:80px;margin:0 0 0 20px;padding:0 0 0 110px;text-shadow:#084366 1px 1px 1px;width:340px}
	#twitter a {color:#FFF}
	#twitter p {margin:0 0 20px}
	#twitter #follow {background:url(../images/follow.png) no-repeat;font-weight:bold;font-size:.9em;height:20px;padding:0 0 0 70px}
	#twitter #screen-name a {color:#FFF}
	#twitter .twtr-hd, #twitter .twtr-ft {display:none}
	#twitter .twtr-tweet-wrap {padding:0 !important}
	#twitter .twtr-widget  {margin:0 0 20px}
	#twitter .twtr-tweet {border-bottom:0}

	/* Copyright */
	#copyright {
	background:url(../images/logo-footer.png) no-repeat center top;
	color:#8ba5b4;
	font:.75em HelveticaNeue, Helvetica, Arial, Sans-Serif;
	float:left;
	padding:20px 20px 0;
	text-shadow:none;
	margin-left: 20px;
}

	#terms {
	color:#8ba5b4;
	font:.75em HelveticaNeue, Helvetica, Arial, Sans-Serif;
	float:left;
	padding:20px 20px 0;
	text-shadow:none;
	margin-left: 100px;
}
	#social {color:#999999;font:.75em HelveticaNeue, Helvetica, Arial, Sans-Serif;float:left;padding:0px 20px 0;text-shadow:none}
	#logo_footer {color:#8ba5b4;font:.75em HelveticaNeue, Helvetica, Arial, Sans-Serif;float:left;padding:10px 20px 0;text-shadow:none}


/* Fancybox */
#fancybox-loading{position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url('../images/fancybox/fancybox.png')}
#fancybox-overlay{position:absolute;top:0;left:0;width:100%;z-index:1100;display:none}
#fancybox-tmp{border:0;overflow:auto;display:none;margin:0;padding:0}
#fancybox-wrap{position:absolute;top:0;left:0;z-index:1101;outline:none;display:none;padding:20px}
#fancybox-outer{position:relative;width:100%;height:100%;background:#fff}
#fancybox-content{width:0;height:0;outline:none;position:relative;overflow:hidden;z-index:1102;border:0 solid #fff;padding:0}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101}
#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background:transparent url('../images/fancybox/fancybox.png') -40px 0;cursor:pointer;z-index:1103;display:none}
#fancybox-error{color:#444;font:normal 12px/20px Arial;margin:0;padding:14px}
#fancybox-img{width:100%;height:100%;border:none;outline:none;line-height:0;vertical-align:top;margin:0;padding:0}
#fancybox-frame{width:100%;height:100%;border:none;display:block}
#fancybox-left,#fancybox-right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;outline:none;background:transparent url('../images/fancybox/blank.gif');z-index:1102;display:none}
#fancybox-left{left:0}
#fancybox-right{right:0}
#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block}
#fancybox-left-ico{background-image:url('../images/fancybox/fancybox.png');background-position:-40px -30px}
#fancybox-right-ico{background-image:url('../images/fancybox/fancybox.png');background-position:-40px -60px}
#fancybox-left:hover,#fancybox-right:hover{visibility:visible}
#fancybox-left:hover span{left:20px}
#fancybox-right:hover span{left:auto;right:20px}
.fancybox-bg{position:absolute;border:0;width:20px;height:20px;z-index:1001;margin:0;padding:0}
#fancybox-bg-n{top:-20px;left:0;width:100%;background-image:url('../images/fancybox/fancybox-x.png')}
#fancybox-bg-ne{top:-20px;right:-20px;background-image:url('../images/fancybox/fancybox.png');background-position:-40px -162px}
#fancybox-bg-e{top:0;right:-20px;height:100%;background-image:url('../images/fancybox/fancybox-y.png');background-position:-20px 0}
#fancybox-bg-se{bottom:-20px;right:-20px;background-image:url('../images/fancybox/fancybox.png');background-position:-40px -182px}
#fancybox-bg-s{bottom:-20px;left:0;width:100%;background-image:url('../images/fancybox/fancybox-x.png');background-position:0 -20px}
#fancybox-bg-sw{bottom:-20px;left:-20px;background-image:url('../images/fancybox/fancybox.png');background-position:-40px -142px}
#fancybox-bg-w{top:0;left:-20px;height:100%;background-image:url('../images/fancybox/fancybox-y.png')}
#fancybox-bg-nw{top:-20px;left:-20px;background-image:url('../images/fancybox/fancybox.png');background-position:-40px -122px}
#fancybox-title{font-family:Helvetica;font-size:12px;z-index:1102}
.fancybox-title-inside{padding-bottom:10px;text-align:center;color:#333;background:#fff;position:relative}
.fancybox-title-outside{padding-top:10px;color:#fff}
.fancybox-title-over{position:absolute;bottom:0;left:0;color:#FFF;text-align:left}
#fancybox-title-over{background-image:url('../images/fancybox/fancy_title_over.png');display:block;padding:10px}
.fancybox-title-float{position:absolute;left:0;bottom:-20px;height:32px}
#fancybox-title-float-wrap{border:none;border-collapse:collapse;width:auto}
#fancybox-title-float-wrap td{border:none;white-space:nowrap}
#fancybox-title-float-left{background:url('../images/fancybox/fancybox.png') -40px -90px no-repeat;padding:0 0 0 15px}
#fancybox-title-float-main{color:#FFF;line-height:29px;font-weight:700;background:url('../images/fancybox/fancybox-x.png') 0 -40px;padding:0 0 3px}
#fancybox-title-float-right{background:url('../images/fancybox/fancybox.png') -55px -90px no-repeat;padding:0 0 0 15px}
/* IE6  */
.fancybox-ie6 #fancybox-close{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_close.png', sizingMethod='scale')}
.fancybox-ie6 #fancybox-left-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_nav_left.png', sizingMethod='scale')}
.fancybox-ie6 #fancybox-right-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_nav_right.png', sizingMethod='scale')}
.fancybox-ie6 #fancybox-title-over{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_title_over.png', sizingMethod='scale');zoom:1px}
.fancybox-ie6 #fancybox-title-float-left{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_title_left.png', sizingMethod='scale')}
.fancybox-ie6 #fancybox-title-float-main{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_title_main.png', sizingMethod='scale')}
.fancybox-ie6 #fancybox-title-float-right{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_title_right.png', sizingMethod='scale')}
.fancybox-ie6 #fancybox-bg-w,.fancybox-ie6 #fancybox-bg-e,.fancybox-ie6 #fancybox-left,.fancybox-ie6 #fancybox-right,#fancybox-hide-sel-frame{height:expression(this.parentNode.clientHeight + "px")}
#fancybox-loading.fancybox-ie6{position:absolute;margin-top:0;top:expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) 0 ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) 0 'px')}
#fancybox-loading.fancybox-ie6 div{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_loading.png', sizingMethod='scale')}
/* IE6, IE7, IE8  */
.fancybox-ie .fancybox-bg{background:transparent !important}
.fancybox-ie #fancybox-bg-n{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_n.png', sizingMethod='scale')}
.fancybox-ie #fancybox-bg-ne{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_ne.png', sizingMethod='scale')}
.fancybox-ie #fancybox-bg-e{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_e.png', sizingMethod='scale')}
.fancybox-ie #fancybox-bg-se{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_se.png', sizingMethod='scale')}
.fancybox-ie #fancybox-bg-s{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_s.png', sizingMethod='scale')}
.fancybox-ie #fancybox-bg-sw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_sw.png', sizingMethod='scale')}
.fancybox-ie #fancybox-bg-w{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_w.png', sizingMethod='scale')}
.fancybox-ie #fancybox-bg-nw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_nw.png', sizingMethod='scale')}
